.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffeddf;
  background-image: linear-gradient(to bottom right, #ffeddf, #ffd2a5);
  font-family: "Roboto", Arial, sans-serif; 
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 48px;
  color: #e84a31; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


#box {
  width: 400px;
  height: 400px;
  background-color: lightgoldenrodyellow;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  border-radius: 10px; 
  overflow: hidden; 
}

#ball {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
}

.mine {
  width: 20px;
  height: 20px;
  background-color: black;
  position: absolute;
  border-radius: 0;
  animation: mineAnimation 1s infinite alternate;
}

/* Food item styles */
.food-item {
  width: 20px;
  height: 20px;
  background-color: rgb(255, 136, 0);
  position: absolute;
  border-radius: 50%;
  animation: foodAnimation 1s infinite alternate;
}

@keyframes mineAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@keyframes foodAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

#lives,
#score,
#message-display {
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

#lives {
  color: #0011ff;
}

#score {
  color: #c402ff;
}

#message-display {
  color: #f80800;
}

#reset-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

#reset-button:hover {
  background-color: #377035;
}

#reset-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.3);
}
